fastapi>=0.115.12,<1
uvicorn[standard]>=0.34.0,<1
asyncpg>=0.30.0,<1
typing-extensions>=4.13.0,<5
slowapi>=0.1.9,<1
redis[hiredis]>=5.2.1,<6.0.0
orjson>=3.10.16,<4
fastapi-pagination>=0.12.34,<1
supertokens-python>=0.29.0,<1
argon2-cffi>=23.1.0,<24
pybase62>=1.0.0,<2