fastapi>=0.115.13,<1
uvicorn>=0.34.3,<1
httptools>=0.6.4,<1
uvloop>=0.21.0,<1 ; sys_platform != "win32"
winloop>=0.1.8,<1 ; sys_platform == "win32"
asyncpg>=0.30.0,<1
typing-extensions>=4.14.0,<5 ; python_version < '3.11'
valkey[libvalkey]>=6.1.0,<7
limits==4.2
orjson>=3.10.18,<4
fastapi-pagination>=0.13.2,<1
supertokens-python>=0.29.2,<1
argon2-cffi>=25.1.0,<26
pybase62>=1.0.0,<2
email-validator>=2.2.0,<3
PyYAML>=6.0.2,<7
gunicorn>=23.0.0,<24