-r requirements.txt

# Development libraries
lefthook>=1.11.5,<2
pyright[nodejs]>=1.1.398,<2
ruff>=0.11.2,<1
tox>=4.25.0,<5

# Testing
httpx>=0.28.1,<1
pytest>=8.3.5,<9
pytest-asyncio>=1.0.0,<2
testcontainers>=4.10.0,<5
asgi-lifespan>=2.1.0,<3
hiro>=1.1.1,<2

# Additional utils only used for development
colorama>=0.4.6,<5 ; sys_platform == "win32"
watchfiles>=1.0.5,<2
