# The location of where Kanae's configuration is stored.
# The configuration can be found under the config.dist.yml
# Note that this must be an absolute path to the config file
CONFIG_LOCATION=/home/noelle/GHLR/kanae/config.yml

# Connection secret for the postgres user. You should change it to a random password
DB_PASSWORD=password

# Externally reachable origin of the frontend. Kratos relies on this for service flows
# Defaults to http://localhost:5173, but if you are using Tailscale, change this
KRATOS_PUBLIC_ORIGIN=http://localhost:5173

# When the browser needs to reach the Kratos public API. This is generally "$KRATOS_PUBLIC_ORIGIN/auth",
# which when using the Docker stack via NGINX, is correct as the Kratos public API has to be reached
# by a reverse proxy. Uncomment this when you need to explicitly set it to reach Kratos on it's own port instead
# KRATOS_SERVE_PUBLIC_BASE_URL=http://localhost:4433

# Per-hook webhook tokens for Kratos to Kanae callbacks
# To generate the values, first have ory.kratos_webhook_master_key defined as per instruction.
# Once complete, run the "derive-webhook-tokens.py" script, which will population these automatically
# To generate: uv run python scripts/derive-webhook-tokens.py
KRATOS_WEBHOOK_TOKEN_REGISTRATION=
KRATOS_WEBHOOK_TOKEN_SETTINGS=

# Generate these values from:
# - KRATOS_SECRETS_COOKIE: openssl rand -hex 32
# - KRATOS_SECRETS_CIPHER: openssl rand -hex 16
KRATOS_SECRETS_COOKIE=
KRATOS_SECRETS_CIPHER=

# These values are generated via mise garage:generate:keys
# GARAGE_RPC_SECRET: openssl rand -hex 32
# GARAGE_ADMIN_TOKEN: openssl rand -base64 32
# GARAGE_METRICS_TOKEN: openssl rand -base64 32
GARAGE_RPC_SECRET=
GARAGE_ADMIN_TOKEN=
GARAGE_METRICS_TOKEN=


# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=kanae

KANAE_WORKERS=8
