# The location of where Kanae's configuration is stored.
# The configuration can be found under the config.dist.yml
# Note that this must be an absolute path to the config file
CONFIG_LOCATION=./config.yml

# Connection secret for the postgres user. You should change it to a random password
DB_PASSWORD=password

# Per-hook webhook tokens for Kratos to Kanae callbacks
# To generate the values, first have ory.kratos_webhook_master_key defined as per instruction.
# Once complete, run the "derive-webhook-tokens.py" script, which will population these automatically
# To generate: uv run python scripts/derive-webhook-tokens.py
KRATOS_WEBHOOK_TOKEN_REGISTRATION=
KRATOS_WEBHOOK_TOKEN_SETTINGS=

# Generate these values from:
# - KRATOS_SECRETS_COOKIE: openssl rand -hex 32
# - Kratos_SECRETS_CIPHER: openssl rand -hex 16
KRATOS_SECRETS_COOKIE=
KRATOS_SECRETS_CIPHER=

# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=kanae
